<!DOCTYPE html>
<html class="page" lang="ru">
  <head>
    @include("../includes/head.html", {"documentTitle": "Aveji"})
  </head>
  <body class="page__body">
    @include("../includes/header.html")
    <main class="page__main">
      @include("../includes/hero.html")
      @include("../includes/about.html")
      @include("../includes/steps.html")
      @include("../includes/projects.html")
      @include("../includes/testimonials.html")
      @include("../includes/form.html")
    </main>
    @include("../includes/footer.html")
    <script src="js/main.js"></script>
  </body>
</html>
