.title {
  font-family: var(--font-family-secondary);
  font-weight: 400;
  font-size: 28px;
  line-height: 39px;

  @media (width < 1448px) {
    scroll-margin-top: 81px;
    margin-bottom: 20px;
    letter-spacing: 0.5px;
  }

  @media (width >= 1448px) {
    font-size: 48px;
    line-height: 66px;
  }
}
