<section class="about">
  <div class="about__inner container">
    <h2 id="about" class="about__title title">О компании</h2>
    <div class="about__subtitle">
      <p>
        Мы — команда профессионалов, которые могут произвести любую мебель для
        вашего проекта, а также найти производственное решение любой задумки.
      </p>
      <p>
        Наша основная цель — реализовывать самые смелые задумки, и делать это
        качественно и аккуратно.
      </p>
      <p>
        В качестве материалов мы используем натуральные — стекло, дерево, бетон,
        камень, металл и эпоксидную смолу.
      </p>
    </div>
    <ul class="about__info-list">
      <li class="about__info-item">
        <p class="about__info-title">1 год</p>
        <p class="about__info-text">гарантии на всю продукцию</p>
      </li>
      <li class="about__info-item">
        <p class="about__info-title">300+</p>
        <p class="about__info-text">выполненных проектов</p>
      </li>
      <li class="about__info-item">
        <p class="about__info-title">15 дней</p>
        <p class="about__info-text">срок производства</p>
      </li>
    </ul>
  </div>
</section>