<footer class="footer">
  <div class="footer__inner container">
    <div class="footer__socials">
      <a href="#" class="footer__social-link" target="_blank">Вконтакте</a>
      <a href="#" class="footer__social-link" target="_blank">Телеграм</a>
    </div>
    <div class="footer__policies">
      <a href="#" class="footer__policy-link" target="_blank">
        Политика конфеденциальности
      </a>
      <a href="#" class="footer__policy-link" target="_blank">
        Оплата и доставка
      </a>
    </div>
    <div class="footer__info">
      <p class="footer__info-text">© 2023 Aveji</p>
      <p class="footer__info-text">Все права защищены</p>
    </div>
  </div>
</footer>
