<section class="form">
  <div class="form__inner container">
    <img
      class="form__image"
      src="images/form-image.webp"
      alt="Комната в темном стиле"
      loading="lazy"
    />
    <div class="form__right">
      <h2 id="form" class="form__title title">Хотите заказать проект?</h2>
      <p class="form__subtitle">Оставьте заявку, и мы вам перезвоним</p>
      <form class="form__form" action="#">
        <label class="form__label">
          <span>Имя</span>
          <input type="text" placeholder=" " />
        </label>
        <label class="form__label">
          <span>E-mail</span>
          <input type="text" placeholder=" " />
        </label>
        <label class="form__label">
          <span>Телефон</span>
          <input type="text" placeholder=" " />
        </label>
        <button class="form__button button" type="submit">
          Отправить заявку
        </button>
      </form>
      <div class="form__apps">
        <a href="#" target="_blank">
          <img src="images/AppStore.svg" alt="Загрузить с App Store" />
        </a>
        <a href="#" target="_blank">
          <img src="images/GooglePlay.svg" alt="Загрузить с Google Play" />
        </a>
      </div>
    </div>
  </div>
</section>
