<header class="header">
  <div class="header__inner container">
    <img class="header__logo" src="images/logo.svg" alt="Aveji logo" />
    <div class="header__mobile-navigation">
      <a href="#form" class="header__link">Заказать проект</a>
      <button class="header__toggle" type="button">
        <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
          <rect width="24" height="1" y="6" />
          <rect width="24" height="1" y="12" />
          <rect width="14" height="1" x="10" y="18" />
        </svg>
      </button>
    </div>
    <div class="header__navigation">
      <nav class="navigation">
        <ul class="navigation__list">
          <li class="navigation__list-item">
            <a href="#about" class="navigation__link">О нас</a>
          </li>
          <li class="navigation__list-item">
            <a href="#projects" class="navigation__link">Проекты</a>
          </li>
          <li class="navigation__list-item">
            <a class="navigation__link navigation__link--disabled">Материалы</a>
          </li>
          <li class="navigation__list-item">
            <a href="#testimonials" class="navigation__link">Отзывы</a>
          </li>
        </ul>
      </nav>
      <span class="header__mobile-description">Контакты:</span>
      <a href="tel:+79999999999" class="header__link">+7 999 999 99 99</a>
    </div>
  </div>
</header>
