<section class="hero">
  <div class="hero__inner container">
    <h1 class="hero__title title">
      Эксклюзивная и нестандартная мебель для дома
    </h1>
    <p class="hero__subtitle">
      Мы можем произвести любую мебель для вашего проекта и найти
      производственное решение любой задумки.
    </p>
    <a class="hero__link" href="#form">ЗАКАЗАТЬ ПРОЕКТ</a>
    <picture>
      <source
        srcset="images/hero-image-desktop.webp"
        media="(min-width: 1448px)"
      />
      <img
        class="hero__image"
        src="images/hero-image-mobile.webp"
        alt="Нестандартная мебель в комнате"
      />
    </picture>
    <img
        class="hero__image-2"
        src="images/hero-image-desktop-2.webp"
        alt="Диван"
      />
  </div>
</section>
