<section class="projects">
  <div class="container">
    <h2 id="projects" class="projects__title title">Проекты</h2>
  </div>
  <div class="projects__inner container">
    <ul class="projects__list">
      <li class="projects__item">
        <img
          src="images/project-img-1.webp"
          alt="Тумба под телевизор"
          class="projects__image"
          loading="lazy"
        />
      </li>
      <li class="projects__item">
        <img
          src="images/project-img-2.webp"
          alt="Кухня"
          class="projects__image"
          loading="lazy"
        />
      </li>
      <li class="projects__item">
        <img
          src="images/project-img-3.webp"
          alt="Гостиная"
          class="projects__image"
          loading="lazy"
        />
      </li>
      <li class="projects__item">
        <img
          src="images/project-img-4.webp"
          alt="Ванна"
          class="projects__image"
          loading="lazy"
        />
      </li>
      <li class="projects__item">
        <img
          src="images/project-img-5.webp"
          alt="Спальня"
          class="projects__image"
          loading="lazy"
        />
      </li>
      <li class="projects__item">
        <img
          src="images/project-img-6.webp"
          alt="Камод"
          class="projects__image"
          loading="lazy"
        />
      </li>
    </ul>
  </div>
</section>
