<section class="steps">
  <div class="steps__inner container">
    <h2 id="steps" class="steps__title title">Как мы работаем</h2>
    <p class="steps__subtitle">
      Алгоритм работы с нами для удобства и понимания проекта
    </p>
    <ul class="steps__list">
      <li class="steps__item">
        <h3 class="steps__item-title title">Идея</h3>
        <p class="steps__item-subtitle">
          Клиент приходит к нам с идеей. Это может быть изображение/ эскиз или
          другой референс. А мы думаем над тем, как это реализовать, делаем
          технические чертежи и предлагаем решения по материалам.
        </p>
      </li>
      <li class="steps__item">
        <h3 class="steps__item-title title">Техническое задание</h3>
        <p class="steps__item-subtitle">
          Клиент приходит к нам с идеей. Это может быть изображение/ эскиз или
          другой референс. А мы думаем над тем, как это реализовать, делаем
          технические чертежи и предлагаем решения по материалам.
        </p>
      </li>
      <li class="steps__item">
        <h3 class="steps__item-title title">Коммерческое предложение</h3>
        <p class="steps__item-subtitle">
          Предпочтительно используем натуральные материалы. Но любую смету можем
          оптимизировать, упростив материалы или конструктив. Сможем
          подстроиться под бюджет клиента и согласуем коммерческое предложение
        </p>
      </li>
      <li class="steps__item">
        <h3 class="steps__item-title title">Подготовка рабочего проекта</h3>
        <p class="steps__item-subtitle">
          Создадим рабочую документацию и чертежи. Это фундамент качественного
          производства. На этом этапе утверждаем с клиентом все габариты
          и материалы, чертежи и приступаем к производству.
        </p>
      </li>
      <li class="steps__item">
        <h3 class="steps__item-title title">Производство и монтаж</h3>
        <p class="steps__item-subtitle">
          Производство занимает от 15 рабочих дней, в зависимости от сложности
          и объёма. Монтажом тоже занимаемся самостоятельно. Ведь мы это сделаем
          быстро и аккуратно.
        </p>
      </li>
    </ul>
  </div>
</section>