:root {
  --accent-primary-engage: #0085f280;
  --accent-primary: #ddd7c0;
  --background-primary: #fff;
  --background-invert: #212529;
  --form-alert-error: #e13a3a;
  --form-alert-warning: #f9c67b;
  --text-invert: #ffffff;
  --text-primary: #212529;
  --text-secondary: #22262a80;

  --font-family-primary: Roboto, sans-serif;
  --font-family-secondary: Hevetica, sans-serif;

  --max-width: 1376px;
  --gutter: 1rem;
}
